{% extends 'base-index.html' %}

{% block title %}Error{% endblock %}

{% block contents %}
<div class="main">
    <section class="hero-section ptb-100 gradient-overlay full-screen"
             style="background: url('img/slider-img-2.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="error-content text-center text-white">
                        <div class="notfound-404"><h1 class="text-white">404</h1></div>
                        <h2 class="text-white">Sorry, something went wrong</h2>
                        <p class="lead">The page you are looking for might have been removed had its name changed or is temporarily
                            unavailable.</p><a class="btn outline-white-btn" href="index.html">Go to Homepage</a></div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
